//CSS à continuer

.cart-button {
    background-color: var(--accent-orange);
    border: none;
    padding: 0.4rem 0.5rem;
    border-radius: 0.35rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    flex-shrink: 0;
}

.cart-button:hover {
    background-color: #D35400;
}